<html>
  <head>
    <title>Stock MVP</title>
  </head>

  <body>
    <h1>Stock Dashboard</h1>
    <div id="chart"></div>
    <script type="module">
      const ws = new WebSocket("ws://localhost:3000/ws");
      ws.onmessage = (event) => {
        console.log(JSON.parse(event.data));
      };
    </script>
  </body>
</html>