---
import Layout from "../components/Layout";
import QuotePanel from "../components/QuotePanel";
import MarketBar from "../components/MarketBar";
import KlineChart from "../components/KlineChart";
import WSBoot from "../components/WSBoot";
---

<Layout>
  <WSBoot client:load />

  <div class="sidebar">
    <QuotePanel client:load />
    <MarketBar client:load />
  </div>

  <div class="main">
    <KlineChart client:load />
  </div>
</Layout>
